body {
    background: linear-gradient(to bottom right, #3E4DA8, #221D46);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    position: relative;
    width: 500px;
    height: 500px;
}

.circle {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    opacity: 0.9;
}

.html {
    border: 8px solid #ff5722;
    top: 50px;
    left: 125px;
}
.css {
    border: 8px solid #2196f3; 
    top: 180px;
    left: 20px;
}

.js {
    border: 8px solid #ffeb3b; 
    top: 180px;
    right: 20px;
}

img {
    width: 90px;
    height: auto;
}

.html-logo {
    margin-bottom: 70px;
}

.css-logo {
    margin-right: 80px;
    margin-top: 80px;
    width: 70px;
    height: auto;
}

.java-logo {
    margin-top: 80px;
    margin-left: 80px;
}